@font-face {
    font-family: "Mona";
    src: url(../misc/mona.woff);
}

body {
    font-family: "Mona", monospace;
    font-size: 16px;
    line-height: 18px;
}

.inner {
    padding: 10px;
    display: grid;
    width: auto;
    text-align: center;
    margin: 10px 0px;
    overflow: line-break;
}

.footer {
    text-align: center;
    font-size: small;
    margin: 5px;
}

#AAring {
    margin: 0 35% !important;
}

.aa {
    font-family: "Mona", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.main {
    border: 1px solid black;
    outline: 1px solid black;
    outline-offset: 3px;
    width: 600px;
    margin: 20px 35%;
}

button {
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button::before {
    content: "▶";
    font-size: 20px;
}

.content {
  display: none;
  overflow: hidden;
}

.active::before {
    content: "▼";
    font-size: 16px;
}

h1, h2, h3, p {
    margin: 8px 0;
}

ul {
    margin: 5px 0;
}

br {
    line-height: 3px;
}

.left {
    text-align: left;
}

li {
    margin: 2px 0;
}

textarea {
    text-align: left;
    display: block;
    margin: 5px;
}

#index table {
    margin: auto;
    margin-top: 10px;
}

#index table, #index td, #index tr th {
    border: 1px solid black;
}
#index td, #index tr th {
    padding: 5px
}