/* IT'S ME */

@font-face {
  font-family: 'Mona';
  src: url(/mona.woff)
  }

body {
  margin: 0;
  font-family: MS PGothic, "Mona";
  color: #fff;
  background: gray;
  background: url("/images/syopng.png") repeat-x, url('/images/puyopng.png') bottom repeat-x;
  background-size: auto, auto 220px;
  image-rendering: pixelated;
  background-color: #141414;
  cursor: url('/cur/star.gif'), auto;
  margin-bottom: 150px;
  }

img.new {
  width: auto !important;
  height: auto !important;
  border: none !important;
  align-items: center;
  padding-right: 5px;
  margin-bottom: -1px !important;
  border-radius: 0px !important;
}

a:hover {
  cursor: url('/cur/starclick.gif'), auto;
}

.name {
  font-size: 26px;
  text-shadow: 0px 5px 10px #fff;
  filter: drop-shadow(5px 0px 10px #fff);
  margin-top: -10px;
  margin-bottom: -15px;
}

li::marker {
  content: ">> ";
  font-size: 1.2em;
}

.link-title img {
  margin: 5px 0;
  border: 2px black solid;
  margin-left: -5px;
  width: 200px;
  height: 100px;
  border-radius: 5px;
}

.bar img:hover {
  filter: brightness(125%);
}

.bar img:active {
  filter: brightness(75%);
}
  
.wrapper {
  width: 1004px;
  margin: 0 auto;
}
  
.tabber button {
  border-bottom: none !important;
  border: 1px black outset;
  background: #4a4a4a;
  padding: 0 10px;
  height: 22px;
  margin-bottom: -10px;
  z-index: 999;
  color: white;
  font-family: MS PGothic, "Mona";
  font-size: 12px;
}

.overview {
  width: 10%;
  align-content: center;
  text-align: center;
  padding: 16px;
  border: 1px outset #FFF !important;
  outline: 1px inset #FFF; 
  outline-offset: -6px;
  background: #EFEFEF !important;
  color: #000;
  float: right;
  margin: 3px;
}

.overview img {
  border: 1px inset white;
  margin: 5px 0;
}

a {
  color: #979797; /*omg 97!!!!!!!! ahahah!!!!!!!!*/
}

a:visited {
  color: #686868; 
}

button:active {
  border: 1px black inset;
}

.tabber {
  text-align: left;
}

.sidebar-img, .footer, .title, .links, .box {
  margin-top: 25px;
  }
  
.title, .links, .footer {
  text-align: center;
  margin-top: -33px;
  }
  
.links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  }

hr {
  border: #fff 1px solid;
}
  
.links li {
  display: inline-block;
  }

.box {
  border: 1px solid black;
  padding: 0.5em 1em;
  background: linear-gradient(to bottom, #606060, #383838) repeat-x;
  }
  
.link-title {
  line-height: 8px;
}

/* border?

.inner 
  
  }
  
*/

.main-content {
    padding: 5px;
    text-align: left;
}

.title-text {
  text-align: left;
  font-size: 64px;
  margin-top: 104px;
  line-height: 65px;
  margin-left: -10px;
  text-shadow: 0 0 5px #0f0f0f, 0 0 10px #0f0f0f, 0 0 20px #fff, 0 0 30px #fff;
}

.box img, .sidebar img {
  /*! max-width: 100%; */
  height: auto;
  }
  
.sidebar {
  width: 225px;
  float: left;
  margin-bottom: 150px;
  }
  
.sidebar-image {
  width: 223px;
  height: 274px;
  background: url("/images/voxlogo.png");
  background-size: 675px;
  image-rendering: pixelated;
  align-self: center;
  display: block;
  margin-left: 1px;
  filter: drop-shadow(0px 0px 10px #555);
  }

.sidebar-image:hover {
background-position-x: -225px;
filter: drop-shadow(0px 0px 10px #fff);
}

.sidebar-image:active {
background-position-x: -450px;
}
  
.sidebar-image img {
  display: block;
  }
  
.main-wrapper {
  margin-left: 240px;
  border: black solid 1px;
  margin-top: 50px;
  background: url("/images/bgmain.png") #383838 repeat-x;
  background-position-y: 169px;
  }
  
.main {
  columns: 2;
  column-gap: 25px;
  }
h1, h2, h3, h4, h5 {
  text-align: left;
  line-height: 2px;
}
  
.title .box {
  border-left: none;
  border-right: none;
  border-top: none;
  background: url("/images/nyanban.gif"); 
  margin-top: 33px;
  padding-bottom: 0px;
  background-position: bottom right;
  height: 189px;
  width: 730px;
  border-bottom: 5px #4a4a4a solid;
}

.main .box {
  display: inline-block;
  }
  
.single-column {
  columns: 1;
  }
  
.footer {
  margin-top: 26px;
  border-top: 1px black solid;
  padding: 0px;
  padding-bottom: 10px;
  }
  
@media(max-width:915px) {
  .wrapper {    
    width: 95%;
    }
    
  .main-wrapper {
    width: calc(100% - 225px);
    }
  }
  
@media (orientation: portrait), (max-width: 480px) {
  .wrapper {
    width: 100%;
    }
  
  .main-wrapper, .sidebar, .footer {
    margin: 0 auto;
    width: 90%;
    }
  
  .sidebar {
    float: none;
    display: block;
    margin-bottom: 50px;
    }

  .sidebar-image {
    margin: 0 auto;
    width: 33%;
    margin-top:25px;
    }

  .sidebar .sidebar-image img {
    width: 100%;
    }
    
  .footer {
    margin-bottom: 25px;
    }
  
  }
