
@font-face {
  font-family: 'MS PGothic';
  src: url(/msgoth.woff2)
  }

.text{
  font-family: "MS PGothic", "Mona", sans-serif;
  padding-left: 7.5em;
  font-size: 14pt;
  line-height: 19px;
  color: #000000;
  width: 467px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 25%;
}
 
.splash {
  position: relative;
  margin-left: 5%;
  background: url(/images/splash.gif);
  background-repeat: no-repeat;
  width: 816px;
  height: 690px;
}

body {
  background: url("/images/cloudstile.png") repeat;
  cursor: url('/cur/star.gif'), auto;
  background: url("/images/syopng.png") repeat-x, url('/images/puyopng.png') bottom aliceblue repeat-x;
  background-size: auto, auto 220px;
  image-rendering: pixelated;
  margin-bottom: 20%;
  background-color: #141414;
}

a:hover {
  cursor: url('/cur/starclick.gif'), auto;
}
.orbs {
  position: relative;
  left: 50%;
}

