.text{
	font-family:"MS PGothic", "Mona", sans-serif;
	font-size: 16pt;
	line-height: 18px;
  color: #000000;
}

.splash {
  position: absolute;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 200%;
}